<p class="text1">Login as</p>
<div class="login-container">
    
    <button  type="button" class="btn">
        <a href="/teacher/login">Teacher Login</a>
    </button>


    <button  type="button" class="btn">
        <a href="/student/login">Student Login</a>
    </button>
</div>
